[submodule "main/lib/esp32-mcp2515"]
	path = main/lib/esp32-mcp2515
	url = git@github.com:dedalqq/esp32-mcp2515
[submodule "main/lib/esp-idf-ssd1306"]
	path = main/lib/esp-idf-ssd1306
	url = git@github.com:nopnop2002/esp-idf-ssd1306
