//
// Created by samuel on 18-7-22.
//

#ifndef APP_TEMPLATE_SECRETS_H
#define APP_TEMPLATE_SECRETS_H

#define DEFAULT_SSID "abc"
#define DEFAULT_PWD "***"
#define DEFAULT_SSID1 "abc2"
#define DEFAULT_PWD1 "***"

// To define multiple numbers, just separate them by a semicolon
#define ICE_CONTACT_NUMBER "+270123456789"

#endif //APP_TEMPLATE_SECRETS_H
